body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #ffffff url("/assets/images/clouds_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    flex: 1 0 auto;
}

footer {
    text-align: center;
}

h4 {
    padding: 0;
    margin-bottom: 2px;
}

.materialboxed {
    overflow: none;
}

.card-panel {
    border: 5px solid #FFFFFF;
}

table {
    border-collapse: collapse;
    border-spacing: 1px;
}

td {
    text-align: center;
}

#aboutSentitweetPanel {
    margin-top: 40px;
}
