<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sentitweet - About</title>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/thumbs_up.png")">
    <link rel="stylesheet" href="@routes.Assets.versioned("javascripts/bootstrap/materialize/css/materialize.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/about.css")">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap/materialize/js/materialize.min.js")" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <nav class="blue darken-1">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">Sentitweet</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="@routes.Application.listResults()">Sentitweet</a></li>
            <li><a href="https://github.com/Jake-Sweeney/Sentitweet-V1.0">GitHub</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">

      <div class="row">
        <div class="col s12">
          <div class="card-panel blue darken-1" id="aboutSentitweetPanel">
            <span class="white-text" style="font-size: 18px;"><h4>What is Sentitweet?</h4><br/>Sentitweet is a web based Scala application that uses tweets gathered from Twitter and sentiment analysis to produce informative and interactive data graphs. Given a user search query, Sentitweet gathers tweets and performs sentiment analysis to determine whether a tweet is positive, negative or neutral. These results are then presented visually to the user by: grouping them by sentiment, displaying them on a map using the tweets geolocation and a line graph showing the sentiment of tweets over time.
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="card-panel blue darken-1">
            <span class="white-text" style="font-size: 18px;"><h4>Who can use Sentitweet?</h4><br/>
              Sentitweet is aimed at company’s and product owners who want to find out the real-time opinions of consumers who use their products/services. With the functionality for the user to filter the results returned by the application, Sentitweet elevates the social network Twitter into something much more, it transforms Twitter into a global and accessible review system, where the user has control of obtaining the information that is relevant to them.
            </span>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel blue darken-1">
            <span class="white-text" style="font-size: 18px;"><h4>What is <i>Sentitment Analysis</i>?</h4><br/>
              Sentiment analysis is the mechanism for evaluating and categorising opinions in a piece of text. This process allows someone to observe what a person’s attitude is towards a particular topic, i.e. a positive, neutral, or negative attitude. In the case of Sentitweet the piece of text being analysed is a tweet.<br />With the growing interest and research done in the area of big data, sentiment analysis has become very popular.
            </span>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="@routes.Assets.versioned("images/tableview_section.PNG")" data-caption="View results in an interactive table.">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Interactive Tables</span>
              <p id="interactiveTableRevealText">Results are displayed in an interactive <a href="https://datatables.net/"><i>DataTables</i></a> table. You can change the amount displayed per page and filter the results via it's search function.<br />Each entry contains a link to the original tweet and a feedback section for the result of the sentitment analysis.</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="@routes.Assets.versioned("images/map_and_graph_section_editedsize.PNG")" data-caption="View your results Geolocation and the total sentiment numbers.">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Tweet Geolocations</span>
              <p id="interactiveTableRevealText">Each tweet with a gelocation will be displayed on a map, provided by the <a href="https://developers.google.com/maps/"><i>GoogleMaps API</i></a>.
                <br />The map is accompanied by a bar chart that displays the total amount of each sentiment for the user's results. This bar chart was created using the <a href="https://d3js.org"><i>D3 Graph Library</i></a>.</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="@routes.Assets.versioned("images/linegraph_section.PNG")" data-caption="View a timeline of your results.">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Tweets Timeline</span>
              <p id="interactiveTableRevealText">The timeline provies a user with a visual of each tweets sentiment. The timeline allows a user to see how the attitude of a result changed overtime. Each tweet is highlighted with a coloured node to represent their sentiment. This line graph was created using the <a href="https://d3js.org"><i>D3 Graph Library</i></a>.</p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col s12">
          <div class="card-panel white darken-1">
            <span style="color: #1E88E5;font-size: 18px;"><h4>Technologies Used</h4><br/></span>
            <table>
              <tr>
                <td>
                  <a href="http://www.scala-lang.org/"><img src="@routes.Assets.versioned("images/scala_logo.PNG")"></a>
                </td>
                <td>
                  <a href="https://www.playframework.com/"><img src="@routes.Assets.versioned("images/playframework_logo.PNG")"></a>
                </td>
                <td>
                  <a href="https://d3js.org/"><img src="@routes.Assets.versioned("images/d3_logo.PNG")"></a><br />
                </td>
                <td>
                  <a href="http://twitter4j.org/en/index.html"><img src="@routes.Assets.versioned("images/twitter4j_logo.PNG")"></a><br />
                </td>
                <td>
                  <a href="http://stanfordnlp.github.io/CoreNLP/"><img src="@routes.Assets.versioned("images/stanfordcorenlp_logo.PNG")"></a><br />
                </td>
                <td>
                  <a href="https://twitter.com/?lang=en"><img src="@routes.Assets.versioned("images/twitter_logo.PNG")"></a><br />
                </td>
                <td>
                  <a href="https://developers.google.com/maps/"><img src="@routes.Assets.versioned("images/googlemaps_logo.PNG")"></a><br />
                </td>
              </tr>
              <tr>
                <td><p><b>Scala</b></p></td>
                <td><p><b>PlayFramework</b></p></td>
                <td><p><b>D3</b></p></td>
                <td><p><b>Twitter4J</b></p></td>
                <td><p><b>Stanford CoreNLP</b></p></td>
                <td><p><b>Twitter</b></p></td>
                <td><p><b>Google Maps</b></p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <script>
         $(document).ready(function(){
           $('.materialboxed').materialbox();
         });
      </script>
    </main>
  </body>
  <footer class="page-footer blue darken-1">
    <div class="footer-copyright">
      <div class="container">
          &copy; 2016 Jake Sweeney
      </div>
    </div>
  </footer>
</html>