@import model.Tweet
@(tweets: List[Tweet], searchForm: Form[String], tweetsAsJson: String, sentimentCountAsJson: String)(implicit messages: Messages)

@main("SentiTweet") {
    <header>
        <nav class="blue darken-1">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">Sentitweet</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <form id="searchForm" action="@routes.Application.queryUserSearch()" method="post">
                            <div class="input-field">
                                <input id="search_bar" name="userQuery" type="search" placeholder="Search for Tweets" class="validate" required="" aria-required="true" oninvalid="this.setCustomValidity('Search term cannot be empty.')">
                                <label for="search_bar"><i class="material-icons">search</i></label>
                                <i class="material-icons" onclick="javascript:clearText()">close</i>
                            </div>
                        </form>
                    </li>
                    <li><a href="https://www.facebook.com/jake.sweeney.39">About</a></li>
                    <li><a href="https://github.com/Jake-Sweeney/Sentitweet-V1.0">GitHub</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="https://www.facebook.com/jake.sweeney.39">About</a></li>
                    <li><a href="https://github.com/Jake-Sweeney/Sentitweet-V1.0">GitHub</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <script>
        function clearText() {
            document.getElementById("search_bar").value = "";
        }
    </script>
    <main class="container">
        <div class="row">
            <div class="col s10 push-s2" id="tabSection">
                <ul class="tabs blue darken-1">
                    <li class="tab col s3"><a class="active" href="#tweets">Tweets</a></li>
                    <li class="tab col s3"><a href="#mapTab">Map</a></li>
                    <li class="tab col s3"><a href="#timeline">Timeline</a></li>
                </ul>
                <br />

                <div id="tweets" class="col s12">
                    <div id="tweetsTableDiv">
                        <table id="tweetsTable" class="cell-border" cellspacing="0" width="100%" >
                            <thead>
                                <tr class="grey lighten-2">
                                    <th data-field="username"><u>Username</u></th>
                                    <th data-field="date"><u>Date Created</u></th>
                                    <th data-field="sentiment"><u>Sentiment</u></th>
                                    <th data-field="text"><u>Text</u></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(tweet <- tweets) {
                                    @if(tweet.sentiment == "POSITIVE") {
                                        <tr class="green">
                                            <td>@tweet.username</td>
                                            <td>@tweet.date</td>
                                            <td>@tweet.sentiment</td>
                                            <td>@tweet.text</td>
                                        </tr>
                                    } @if(tweet.sentiment == "NEGATIVE") {
                                        <tr class="red">
                                            <td>@tweet.username</td>
                                            <td>@tweet.date</td>
                                            <td>@tweet.sentiment</td>
                                            <td>@tweet.text</td>
                                        </tr>
                                    } @if(tweet.sentiment == "NEUTRAL") {
                                        <tr class="blue">
                                            <td>@tweet.username</td>
                                            <td>@tweet.date</td>
                                            <td>@tweet.sentiment</td>
                                            <td>@tweet.text</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="mapTab" class="col s12">
                    <script>
                        initializeData(@Html(tweetsAsJson));
                    </script>
                    <div id="googleMap"></div>
                    <script>
                        $('a[href=#mapTab]').on('click', function() {
                            console.log("Map tab has been clicked");
                            setTimeout(function(){
                                google.maps.event.trigger(map, 'resize');
                            }, 50);
                        });
                    </script>
                    <div id="chartLegend">
                        <table id="chartLegendTable" cellpadding="0" cellspacing="0">
                            <tr border="0">
                                <td style="color:#00E64D;"><img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"><b>POSITIVE</b></td>
                                <td style="color:#6991FD;"><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"><b>NEUTRAL</b></td>
                                <td style="color:#FD7567;"><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"><b>NEGATIVE</b></td>
                            </tr>
                        </table>
                    </div>
                    <div id="barChart"></div>
                    <script>
                        createBarChart(@Html(tweetsAsJson), @Html(sentimentCountAsJson), "Sentiment");
                    </script>
                </div>

                <div id="timeline" class="col s12">
                    <span>Hello there.</span>
                </div>

            </div>
            <script>
                $(document).ready(function() {
                    $('#tweetsTable').DataTable({
                        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
                    });
                } );
            </script>

            <div class="col s2 pull-s10" id="filterSection">
                <ul class="tabs blue darken-1">
                    <li class="tab col s2"><a class="active" href="#filter">Filter</a></li>
                </ul>
                <div id="filter" class="col s12">
                    <form action="">
                        <span><b><u>Filter Search Results</u></b></span>
                        <p>
                            <input class="with-gap" name="sentiment" type="radio" value="positive" id="positiveRadioBtn" />
                            <label for="positiveRadioBtn" style="color:#00E64D;">Positive</label>
                        </p>
                        <p>
                            <input class="with-gap" name="sentiment" type="radio" value="negative" id="negativeRadioBtn" />
                            <label for="negativeRadioBtn" style="color:#FD7567;">Negative</label>
                        </p>
                        <p>
                            <input class="with-gap" name="sentiment" type="radio" value="neutral"  id="neutralRadioBtn"  />
                            <label for="neutralRadioBtn" style="color:#6991FD;">Neutral</label>
                        </p>
                    </form>
                </div>
            </div>

            <script>
                $("input[name='sentiment']").change(function(e){
                    if($(this).val() == 'positive') {
                       @* @routes.Application.filterResults("positive"); *@
                    } else if($(this).val() == 'neutral') {
                        window.alert("neutral filtering occurs");
                    } else if($(this).val() == 'negative') {
                        window.alert("negative filtering occurs");
                    }
                });
            </script>
        </div>
        <div id="deleteBtnDiv">
            <form action="@routes.Application.clearResults()">
                <button class="btn waves-effect waves-light" id="clearResultsBtn" type="submit" name="action">
                    Clear Results
                    <i class="material-icons right">delete</i>
                </button>
            </form>
        </div>
    </main>

    <footer class="page-footer blue darken-1">
        <div class="footer-copyright">
            <div class="container">
                &copy; 2016 Jake Sweeney
            </div>
        </div>
    </footer>

    <script>
        window.onload = function() {
            console.log("In the onload function");
            var tweetSize = @tweets.size;

            var clearResultsButton = document.getElementById("clearResultsBtn");
            var tweetsContent = document.getElementById("tweets");
            var mapTabContent = document.getElementById("mapTab");
            var timelineContent = document.getElementById("timeline");
            var filterContent = document.getElementById("filter");

            if(tweetSize > 0) {
                clearResultsButton.style.visibility = "visible";
                timelineContent.style.visibility = "visible";
                tweetsContent.style.visibility = "visible";
                mapTabContent.style.visibility = "visible";
                filterContent.style.visibility = "visible";

            } else {
                clearResultsButton.style.visibility = "hidden";
                timelineContent.style.visibility = "hidden";
                tweetsContent.style.visibility = "hidden";
                mapTabContent.style.visibility = "hidden";
                filterContent.style.visibility = "hidden";
            }
        }
    </script>
}
