@import twitter4j.Status
@(tweets: List[Status], searchForm: Form[String])(implicit messages: Messages)

@import helper._
@main("SentiTweet") {

    @form(routes.Application.queryUserSearch()){
        @inputText(searchForm("userQuery"))
        <input type="submit" value="Search" align="center" >
    }

    @form(routes.Application.saveSearchResults()) {
        <input type="submit" value="Save Your Results"/>
    }

    <p>Search returned @tweets.size results.</p>
    <table border="1">
        @for(tweet <- tweets) {
            <tr>
                <td>@tweet.getUser.getScreenName</td>
                <td>@tweet.getCreatedAt.toString</td>
                <td>@tweet.getText</td>
            </tr>
        }
    </table>
}
